@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";
/* @import "https://code.highcharts.com/css/highcharts.css"; */
* {
  font-family: "Montserrat";
}
body {
  /* background-color: #eceffa; */
  /* padding: 20px;  */
   margin: 0;
}

.chart-container {
  /* margin-top: 1vh; */
}

/* .footer-container {
  margin-top: 1vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
h2 {
  font-size: 3rem;
  line-height: 0px;
}
span {
  margin-top: 10px;
}
.contact-media {
  margin-top: 20px;
}
.email-link {
  font-size: 1.5rem;
  color: black;
}
img {
  height: 4rem;
  margin: 10px;
}


@media only screen and (max-width: 650px) {
h1 {
  font-size: 1.5rem;
}
}